@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'), local('Montserrat-Regular'),
  url('../fonts/montserrat-regular-webfont.woff') format('woff'),
  url('../fonts/montserrat-regular-webfont.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemibold'), local('Montserrat-Semibold'),
  url('../fonts/montserrat-semibold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-semibold-webfont.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'), local('Montserrat-Bold'),
  url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-bold-webfont.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtrabold'), local('Montserrat-Extrabold'),
  url('../fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat-extrabold-webfont.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.heading {
  font-weight: 400;
  font-size: 48px;
  color: #333333;
}

.btn{
  font-weight: 700;
  border: none;
  cursor: pointer;
  background: #FF9900;
  color: #FFFFFF;
}

.btn-reset{
  border: none;
  cursor: pointer;
  padding: 0;
}

.header {
  width: 100%;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_style{
  margin: 0;
  padding-top: 10px;
}

.burger-close {
  display: none;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
font-weight: 600;
font-size: 18px;
color: #333333;
}

.nav__link:hover {
  border-bottom: 2px solid #FF9900;
}

.nav__link:focus {
  outline: 2px solid #FF9900;
}

.nav__link:active {
  color: #FF9900;
  border-bottom: 2px solid #FF9900;
}

.nav-wrape {
  position: relative;
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 85px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hero{
  height: 620px;
}

.hero__container{
  height: 100%;
  overflow: hidden;
}

.swiper{
  width: 100%;
  height: 100%;
}

.swiper-slide{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.swiper-slide_background-1{
  background-image: url('../img/1.jpg');
}

.swiper-slide_background-2{
  background-image: url('../img/2.jpg');
}

.swiper-slide_background-3{
  background-image: url('../img/3.jpg');
}

.hero-content{
  padding: 106px 0 0 80px;
}

.hero-content__heading{
  width: 837px;
  margin: 0;
  margin-bottom: 21px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #FFFFFF;
}

.hero-content__text{
  width: 790px;
  margin: 0;
  margin-bottom: 87px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.hero-content__btn{
  padding: 24.5px 37.5px;
}

.hero-content__btn{
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  transition: background .3s ease;
}

.hero-content__btn:focus{
  background: #FF9900B2;
}

.hero-content__btn:hover{
  background: #FF9900B2;
}

.hero-content__btn:active{
  background: #E1670E;
}

.about{
  padding-top: 106px;
}

.about__heading{
  margin: 0;
  margin-left: 2px;
  margin-bottom: 20px;
}

.about__text{
  width: 70%;
  margin: 0;
  margin-bottom: 49px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.about-content{
  display: flex;
}

.about-content__left{
  display: flex;
  flex-basis: 50%;
  margin-right: 32px;
  align-items: flex-end;
  background-image: url('../img/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.about-left__inner{
  display: flex;
  padding: 51px;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.about-left__text{
  margin: 0;
  flex-basis: 60%;

  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.about-left__btn{
  margin-left: 25px;
  padding: 17px 37px;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  border: 3px solid #FF9900;
}

.about-left__btn:focus{
  background: #FF9900;
}

.about-left__btn:hover{
  background: #FF9900;
}

.about-left__btn:active{
  border-color: #E1670E;
  background: #E1670E;
}

.about-content__right{
  max-width: 870px;
}

.about-right__item{
  background-position: left 59px top 64px;
  background-repeat: no-repeat;
  margin: 0;
  padding: 65px 108px 65px 298px;
  border: 1px solid #CACACA;
}

.background-5{
  background-image: url('../img/5.svg');
}

.background-6{
  background-image: url('../img/6.svg');
}

.about-right__item:first-child{
  margin-bottom: 33px;
}

.about-right__title{
  margin: 0;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.about-right__text{
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.about-right__item:first-child{
  margin-bottom: 29px;
}

/* work */
.work {
  padding-top: 105px;
}

.work__headeing {
  margin: 0;
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.work__item:not(:last-child) {
  margin-right: 86px;
}

.work__btn {
  font-size: 18px;
  color: #333333;
  background-color: white;
}

.work__btn--default {
  color: #E1670E;
}

.work__btn:hover{
  color: #FF9900;
}

.work__btn:focus{
  outline: 2px solid #FF9900;
}


.work__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.work-left {
  min-height: 466px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-left__title {
  margin: 0;
  margin-bottom: 9px;
  color: #333333;
  font-weight: 700;
  font-size: 24px;
}

.work-left__text {
  margin: 0;
  color: #333333;
  max-width: 758px;
  line-height: 32px;
}

.work-left__btns {
  display: flex;
  align-items: center;
}

.work-left__btn {
  padding: 21px 38px;
  transition: background .3s ease;
}

.work-left__btn:first-child {
  margin-right: 32px;
}

.work-left__btn:focus{
  background: #FF9900b2;
}

.work-left__btn:hover{
  background: #FF9900b2;
}

.work-left__btn:active{
  border-color: #E1670E;
  background: #E1670E;
}

.work-left__btn--border {
  background-color: transparent;
  border: 1px solid #333;
}

.work-left__btn--border:focus{
  background: #666;
  color: #FFFFFF;
  border-color: #666;
}

.work-left__btn--border:hover{
  background: #666;
  color: #FFFFFF;
  border-color: #666;
}

.work-left__btn--border:active{
  background: #000;
  color: #FFFFFF;
  border-color: #000;
}

.work-right {
  padding-top: 6px;
  width: 49%;
  height: 100%;
  margin-left: 15px;
}

.work-right__img {
  width: 100%;
  object-fit: cover;
}

.tab-content {
  display: none;
}

.tab-content--active {
  display: flex;
}

.questions {
  padding-top: 61px;
}

.questions__accordion {
  border-bottom: 1px solid #CACACA;
}

.questions_wraper{
  position: relative;
  padding: 42px 0;
  border-top: 1px solid #CACACA;
  cursor: pointer;
}

.questions__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.questions__title:hover{
  color: #FF9900;
  border-color: #FF9900;
}

.questions__title:focus{
  color: #FF9900;
  border-color: #FF9900;
}

.ui-accordion-content {
  min-height: auto;
  padding-bottom: 40px;
}

.accordion-icon {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
  border-radius: 100%;
  background-image: url("../img/accordion-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .3s ease-in-out;
  background-color: #ECECEC;;
}

.questions__title:hover .accordion-icon{
  background-image: url('../img/12.svg');
  background-color: #FF9900;
}

.questions__title:focus .accordion-icon{
  background-image: url('../img/12.svg');
  background-color: #FF9900;
}

.ui-state-active .accordion-icon {
  transform: rotate(45deg);
  transition: transform .3s ease-in-out;
}

.questions__descr {
  line-height: 32px;
  font-size: 16px;
  max-width: 1003px;
  margin: 0;
}

.questions__descr:first-child {
  margin-bottom: 40px;
}

.divide{
  color: #CACACA;
}

.footer {
  margin-top: 100px;
  padding-top: 46px;
  padding-bottom: 20px;
  background-color: #222222;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  margin-bottom: 25px;
}

.footer-left{
  margin-right: 80px;
}

.footer-right {
  display: flex;
  margin-right: 15px;
  margin-left: 50px;
  justify-content: space-between;
  padding-top: 6px;

}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__list {
  margin-bottom: 98px;
}

.footer__item:not(:last-child) {
  margin-bottom: 16px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  color: #CACACA;
}

.footer__link:hover{
  color: #FF9900;
}

.footer__link:focus{
  outline: 2px solid #FF9900;
}

.footer__link:active{
  color: #E1670E;
}

.footer__social {
  display: flex;
  align-items: center;
}

.footer__icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__icon:not(:last-child){
  margin-right: 25px;
}

.footer__icon-condition:hover path{
  fill: #FF9900;
}

.footer__icon-condition:focus{
  outline: 2px solid #FF9900;
}

.footer__icon-condition:active path{
  fill: #E1670E;
}

.footer__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 48px;
  color: #CACACA;
}

.form__input {
  border: none;
  padding-left: 24px;
  height: 60px;
  margin-bottom: 25px;
  background-color: #414141;
}

.form__input::placeholder {
  color: #CACACA;
}

.form__input:focus{
  background-color: #666;
}

.form__input:active{
  background-color: #666;
}

.form__input:hover{
  background-color: #666;
}

.form__area {
  border: none;
  padding-left: 24px;
  padding-top: 22px;
  height: 150px;
  resize: none;
  margin-bottom: 32px;
  max-width: 100%;
  background-color: #414141;
}

.form__area::placeholder {
  color: #CACACA;
}

.form__area:hover{
  background-color: #666;
}

.form__area:focus{
  background-color: #666;
}

.form__area:active{
  background-color: #666;
}

.form__btn {
  margin-right: 17px;
  padding: 20px 52px;
}

.form__btn:focus{
  background: #FF9900b2;
}

.form__btn:hover{
  background: #FF9900b2;
}

.form__btn:active{
  background: #E1670E;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox-text {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  display: inline-block;
  padding-left: 18px;
  color: #CACACA;
}

.checkbox-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #CACACA;
}

.checkbox-text::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  opacity: 0;
  background-image: url('../img/checked.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.checkbox:checked+.checkbox-text::after {
  opacity: 1;
}

.footer__text {
  max-width: 363px;
  line-height: 32px;
  color: #CACACA;
  align-self: center;
}

.burger__style{
 display: none;
}

.burger-close__style{
  display: none;
}

.header__search {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.search-condition rect, path {
  transition-duration: .3s;
  transition-timing-function: ease;
}

.search-condition:hover rect{
  fill: #FF9900;
}

.search-condition:hover path{
  stroke: #FF9900;
}

.search-condition:focus {
  outline: 2px solid #FF9900;
}

.search-condition:active rect{
  fill: #FF9900;
}

.search-condition:active path{
  stroke: #FF9900;
}



.header__wrape-search {
  position: absolute;
  right: 0;
  padding: 10px 13px 16px 32px;
  border-radius: 16px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  transform: translateY(-130%);
  transition: transform .3s ease;
}

.search__form-open {
  transform: none;
}

.search__form {
  display: flex;
  align-items: flex-end;
}


.search__form-field {
  padding: 10px 0;
  margin-right: 14px;
  width: 412px;
  border: none;
  border-bottom: 1px #dcdcdc solid;
}

.search__form-input{
  padding: 6px 0;
  margin-right: 25px;
  width: 412px;
  border: none;
  border-bottom: 1px #dcdcdc solid ;
}


.search__form-input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #adadad;
}

.search__form-search{
  margin-right: 18px;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
}

.search__form-close{
  margin-right: 13px;
  padding-top: 5px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
}

.search__form-close rect,
                    circle {
  transition-duration: .3s;
  transition-timing-function: ease;
}

.search__form-close:hover rect  {
  fill: #333;
}

.search__form-close:hover circle  {
  stroke: #333;
}
